.toastle {
  position: fixed;
  top: 40px;
  background-color: #333333;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  opacity: 0;
  max-width: fit-content;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.5s ease-in-out;
}

.toastle-success {
  background-color: #068f29;
}

.toastle-error {
  background-color: #b82c2e;
}

.toastle-info {
  background-color: #72aee6;
}

.toastle-warning {
  background-color: #dba617;
}
